*{
  font-family: Poppins;
}
nav{
  max-width: 1200px;
  font-weight: 600;
  min-height: 150px;
}
.banner{
  background-color: rgb(219, 213, 213);
  margin: 0 0 5px 0;

}
ul{
  display: flex;
  justify-content: space-evenly;
}
nav>ul>li{
  list-style: none;
}
nav>ul>li>a{
  text-decoration: none;
  color: black;
}
li>img{
  width:90px;
  position: absolute;
}
.star_text{
  position: relative;
  top: 80px;
  font-size: 20px;
  font-weight: 700;
}
.rounded-box{
  background-color: #649549;
  height: 300px;
  width: 60%;
  position: absolute;
  right: 6px;
  top:13px;
  border-radius: 0 0 0 100%;
  opacity: 0.5;
}
.rotate_food{
  position: absolute;
  right: 2px;
}
.rotate_food:nth-child(2){
  border: 3px solid yellow;
  transform: rotate(45deg);
}
.street_food{
  margin-left: 30px;
  padding: 40px;
}
.part1{
color: #649549;
}
.part2{
color:#EAAB1B;
}
.btn{
  color: white;
  background-color:#6CB840;
  border:none;
  padding: 15px 25px;
  border-radius: 16px;
  font-size: 20px;
}
.eat img{
  height: 400px;
  width: 400px;
}
.eat{
  display: flex;
}
.eat_text h2{
  color: #EAAB1B;
}
.eat_text{
  position: relative;
  top:50px;
}
.menu{
  background-color: rgb(225, 230, 225);
}
.burgers{
  display: flex;
}
.burger_menu{
  width: 200px;
  height: 200px;
  background-color: rgb(236, 243, 236);
  border-radius: 0 0 20px 0;
  position: relative;
  right:120px;
}
.one,.two{
display: flex;
margin-bottom: 40px;
}
.one img, .two img{
  width: 200px;
  height: 200px;
}
.burger_image{
  
}
.burger_menu{
  
}
.menu_header{
  text-align: center;
}
.hot_deals_section{
  background-color: #C9ECB5;
  margin-top: 0;
}
.hot_deals_images img{
  height: 300px;
}
.hot_deals_images{
  /* border:2px solid yellow; */
  position: relative;
}
.hot_deals_images img:first-child{
  /* border: 2px solid blue; */
 }
.hot_deals_images img:nth-child(2){
 /* border: 2px solid blue; */
 position: absolute;
 height: 200px;
 left:20px;
 top:120px
}
.hot{
  display: flex;
  justify-content: space-around;
}
.hot_deals_text{
  position: relative;
  right:250px;
  font-size: 20px;
}
.hot_deals_section:first-child{
  text-align: center;
  border: 2px solid yellow;
}
.contact{
  background-color: #FFD77C;
  text-align: center;
}
input[type="email"]{
padding: 10px;
margin: 10px;
border-radius: 15px;
border:none;
width: 400px;
}
footer{
  margin-top: 20px;
  background-color: #C9ECB5;
  display: flex;
  justify-content: space-around;
}
.vl{
  position: relative;
  top:20px;
  border-left: 3px dotted black;
  height:100px
}
.button img{
  width:100px;
  height:100px;
}
footer button{
  background-color:#649549;
  border:none;
  color: white;
}